<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <th:block layout:fragment="userCss">
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <h1>test</h1>
</div>

<!-- 해당 페이지에 사용할 스크립트 추가 -->
<th:block layout:fragment="userScript">
    <script type="text/javascript" th:src="@{/js/login/login.js}" defer></script>
</th:block>
</body>
</html>